services:
  # FastAPI Application
  fastapi:
    build:
      context: ..
      dockerfile: docker/nutrition-rag/Dockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    volumes:
      - fastapi_data:/app/assets
    networks:
      - backend_network
    restart: always
    depends_on:
      pgvector:
        condition: service_healthy
    env_file:
      - ./env/.env.app

  # Nginx Service
  nginx:
    image: nginx:perl
    container_name: nginx
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      - fastapi
    networks:
      - backend_network
    restart: always

  # PostgreSQL (pgvector)
  pgvector:
    image: pgvector/pgvector:0.8.0-pg17
    container_name: pgvector
    ports:
      - "5432:5432"
    volumes:
      - "pgvector_data:/var/lib/postgresql/data"
    env_file:
      - ./env/.env.postgres
    networks:
      - backend_network
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U youssef -d nutrition_rag_system_db || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  # Qdrant (vectorDB)
  qdrant:
    image: qdrant/qdrant:v1.16
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage
    networks:
      - backend_network
    restart: always

  # Prometheus Monitoring
  prometheus:
    image: prom/prometheus:v3.8.0
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - prometheus_data:/prometheus
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - backend_network
    restart: always
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      #- "--web.console-libraries=/etc/prometheus/console_libraries"
      #- "--web.console.templates=/etc/prometheus/consoles"
      - "--web.enable-lifecycle"

  # Grafana Visualization
  grafana:
    image: grafana/grafana:main-ubuntu
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    env_file:
      - ./env/.env.grafana
    depends_on:
      - prometheus
    networks:
      - backend_network
    restart: always

  # Node Exporter for Host Metrics
  node_exporter:
    image: prom/node-exporter:v1.10.2
    container_name: node_exporter
    ports:
      - "9100:9100"
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - "--path.procfs=/host/proc"
      - "--path.sysfs=/host/sys"
      - "--path.rootfs=/rootfs"
      - "--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)"
    networks:
      - backend_network
    restart: always

  # PostgreSQL Exporter for DB Metrics
  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:v0.18.1
    container_name: postgres_exporter
    ports:
      - "9187:9187"
    volumes:
      - ./prometheus/postgres_exporter.yml:/postgres_exporter.yml
    env_file:
      - ./env/.env.postgres_exporter
    depends_on:
      - pgvector
    networks:
      - backend_network
    restart: always

networks:
  backend_network:
    driver: bridge

volumes:
  fastapi_data:
  pgvector_data:
  qdrant_data:
  prometheus_data:
  grafana_data: